body{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    text-align: center;
    background-image:linear-gradient(teal,rgb(10, 224, 228));
    margin:30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.container{
    border: 2px solid rgba(0, 128, 128, 0.813);
    border-radius: 10px;
    width: 70%;
    margin:auto;
    padding:20px;
    size: 400px;
    box-shadow: 4px 6px 5px;
}
input,button{
 border-radius:25px;
 padding:5px;
 width:60%;
}
button:hover{
    color:rgb(142, 246, 194);
}
input:hover{
    color:rgb(6, 44, 65);
    background-color: rgb(112, 154, 197);
}
li{
    margin: 8px 0;
}
a{
    margin-left: 10px;
    text-decoration: none;
}