body{
    padding: 20px;
    margin-top: 100px;
    text-align: center;
}
.container{
    border: 2px solid teal;
    border-radius: 10px;
    width: 100%;
    margin:auto;
    padding:20px;
}
input,button{
 border-radius:25px;
 padding:10px;
 width:90%;
}
button:hover{
    color:rgb(142, 246, 194);
}
input:hover{
    color:rgb(6, 44, 65);
    background-color: rgb(112, 154, 197);
}