*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Segoe UI",Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    text-align: center;
    background-image:url("background2.jpg");
    background-size: cover;
    margin:30px;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.container{
    border: 1px solid white;
    border-radius: 12px;
    width: 380px;
    height: 90%;
    margin:auto;
    padding:10px;
    size: 400px;
    animation: fadeIn 0.6s ease-in-out;
    backdrop-filter:blur(30px)
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
h2,h3{
    text-align: center;
    margin-bottom: 15px;
    color: #d58e13;
}
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    transition: 0.3s;
}
input:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 2px rgba(102,126,234,0.2);
}
button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #667eea;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}
button:hover{
    background: #5a67d8;
}
ul{
list-style: none;
margin-top: 15px;
}
li{
    background: #f5f7ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.completed{
    text-decoration: line-through;
    color:#999;
}
.task-actions{
    margin-left: 8px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.task-actions a:hover{
    opacity: 0.7;
}
.logout{
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #667eea;
    font-weight: bold;
}
#flash-container{
    margin-bottom: 10px;
}
.flash{
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 14px;
}
.flash.success{
    background: #d4edda;
    color: #155724;
}
.flash.error{
    background: #f8d7da;
    color: #721c24;
}
.flash.info{
    background: #d1ecf1;
    color: #0c5460
}
.input-group{
    position: relative;
}
.input-group input{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
}
.toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 18px;
}