{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
<h3>Welcome {{username}}</h3> 
<form method="POST" action="/add-task">
    <input type="text" name="task" placeholder="Enter Task" required>
    <button type="submit">Add Task</button>
    </form>
<h4>Your Tasks</h4>
<ul>
    {% for t in tasks %}
    <li>{% if t["status"] == "completed" %}
        <s>{{ t["task"] }}</s>
        {% else %}
        {{ t["task"] }}
        {% endif %}

        <a href="/toggle-task/{{ t['id'] }}">✔️</a>
        <a href="/delete-task/{{ t['id'] }}">❌</a>
   
    {% endfor %}
</ul>
<a href="/logout">Logout</a>
</div>
{% endblock %}